.big-button{
    width: 417px;
    height: 93px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid var(--Blue, #2E9387);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--Blue);
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    cursor: pointer;
}

.big-button-container{
    padding-top: 43px;
    gap: 93px;
}

.normal-button{
    border-radius: 10px;
    border: 1px solid var(--Blue);
    background: var(--White);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 174px;
    height: 58px;
    color: var(--Blue);
    font-size: 25px;
    font-family: 'Jua', sans-serif;
    cursor: pointer;
}

@media screen and (max-width:1732px){
 .big-button{
    width: 300px;
    height: 70px;
    font-size: 40px;
 }   
 .normal-button{
    width: 150px;
    height: 50px;
    font-size: 20px;
 }
}

@media screen and (max-width:1092px){
    .big-button{
        width: 220px;
        height: 60px;
        font-size: 30px;
     }   
}


@media screen and (max-width:895px){
    .big-button {
        width: 90px;
        height: 33px;
        font-size: 12px;
    }

    .normal-button {
        width: 90px;
        height: 33px;
        font-size: 15px;
    }

    .big-button-container{
        gap: 50px;
    }
}