.footer-container{
background-color: var(--Blue);
display: flex;
justify-content: center;
gap: 206px;
padding-top: 20px;
padding-bottom: 20px;
}

@media screen and (max-width:1732px){
    .footer-container{
        gap: 100px;
    }
}

@media screen and (max-width:895px){
    .directions, .contact {
        display: none;
    }
}