/* @media screen and (max-width:4000px){
    .mobile-event, .event2{
        display: none;
    }
} */


@media screen and (max-width:1732px){ 
    
    
    .event{
        width: 300px !important;
        height: 400px !important;
        font-size: 20px !important;
        margin: 5px !important;
    }

    .museum-img{
        width: 50% !important;
        height: auto !important;
    }
    
    .target-container{
        height: auto !important;
        width: 100% !important;
    }
    
    .target-text{
        width: 75% !important;
    }

    .target-img{
        width: 100% !important;
    }
}

@media screen and (max-width:1092px){
    .container{
        margin-bottom: 40px !important;
    }

    .event{
        width: 200px !important;
        height: 300px !important;
        font-size: 20px !important;
        text-align: center;
    }

    .admission-container{
        height: 400px !important;
    }
}

@media screen and (max-width:895px){
    .container{
        margin-bottom: 20px !important;
    }

    .museum-img {
        display: none;
    }
    
    .event-container{
        flex-direction: column;
        gap: 10px;
    }

    .event{
        width: 100% !important;
        height: 81px !important;
        font-size: 20px !important;
        border-radius: 0 !important;
        margin: 0 !important;
    }

    .opening-hours-container{
        background-color: var(--Blue) !important;
        color: var(--White) !important;
        padding: 10px 0 !important;
        width: 100% !important;
        height: auto !important;
    }

    .admission-container, .donate-container {
        width: 100% !important;
        height: auto !important;
        padding: 20px 0 !important;
        border-radius: 0 !important;
    }

    .exhibition-text{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../pictures/mammoth-1257288_1920.jpg");
        background-size: cover;
        width: 100% !important;
        height: auto !important;
        padding: 25px;
    }
    .exhibition-text p, .exhibition-text h2{
        color: var(--White);
    }

    .target-container{
        flex-direction: column !important;
        max-width: 480px !important;
    }

    .target-img{
        width: 100% !important;
        height: auto !important;
        overflow: hidden;
        margin-top: -100px;
    }

    .target-img-container{
        width: 100%;
        height: 280px;
        overflow: hidden;
    }

    .target-text{
        width: 100% !important;
        height: auto;
    }
}