
@import url(css/default.css);
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/buttons.css);
@import url(css/visit.css);
@import url(css/contribution.css);
@import url(css/exhibitions.css);
@import url(css/terms-privacy.css);


.container{
    display: flex;
    justify-content: center;
    max-width: 1730px;
    margin-bottom: 95px;
    width: 100%;
}


.explore-together-container {
    flex-direction: column;
}

.event{
    width: 417px;
    height: 503px;
    cursor: pointer;
    padding: 0 25px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--White);
    font-size: 25px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    text-align: center;
}

.event a{
    color: var(--White);
}

.event1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("pictures/spaceimg.webp");
}

.event2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("pictures/museum-hall-2.webp");
}

.event3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)),
    url("pictures/windmill.webp");
}

.event:hover{
    transition: 0.3s ease;
    transform: scale(1.1);
}

.opening-hours-outer-container, .exhibition-container, .donations-container{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: auto;
    width: 100%;
    max-width: 1730px;
    display: flex;
    background-color: var(--White);
    

}
.museum-img{
    width: 100%;
    max-width: 50%;
    height: 100%;
    max-height: 750px;
    
}

.opening-hours-container, .exhibition-text, .donations-text{
    width: 864px;
    height: auto;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    justify-content: space-evenly;
}

.opening-hours{
    display: flex;
}

.tr{
font-size: 30px;
padding: 0 50px;
}

.donate-container{
    align-items: center;
    width: 761px;
    height: 323px;
}

.admission-container{
    text-align: center;
    width: 854px;
    height: 484px;
    padding: 0 15px;
}

.aboutus-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0 ;
    align-items: center;
}

.aboutus-container, .admission-container, .donate-container, .target-text{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--White);
    justify-content: center;
}

.target-img{
    width: 100%;
    height: 100%;
}

.target-img-container{
    max-height: 825px;
    overflow: hidden;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.target-container{
    height: 726px;
}
.target-text{
    width: 1149px;
    text-align: center;
    border-radius: 0 !important ;
}




@media screen and (max-width:1732px){ 
    
    
    .event{
        width: 300px ;
        height: 400px ;
        font-size: 20px ;
        margin: 5px ;
    }

    .museum-img{
        width: 50% ;
        height: auto ;
    }
    
    .target-container{
        height: auto ;
        width: 100% ;
    }
    
    .target-text{
        width: 75% ;
    }

    .target-img{
        width: 100% ;
    }
}

@media screen and (max-width:1092px){
    .container{
        margin-bottom: 40px ;
    }

    .event{
        width: 200px ;
        height: 300px ;
        font-size: 20px ;
        text-align: center;
    }

    .admission-container{
        height: 400px ;
    }
}

@media screen and (max-width:895px){
    .container{
        margin-bottom: 20px ;
    }

    .museum-img {
        display: none;
    }
    
    .event-container{
        flex-direction: column;
        gap: 10px;
    }

    .event{
        width: 100% ;
        height: 81px ;
        font-size: 20px ;
        border-radius: 0 ;
        margin: 0 ;
    }

    .opening-hours-container{
        background-color: var(--Blue) ;
        color: var(--White) ;
        padding: 10px 0 ;
        width: 100% ;
        height: auto ;
    }

    .admission-container, .donate-container {
        width: 100% ;
        height: auto ;
        padding: 20px 0 ;
        border-radius: 0 ;
    }

    .exhibition-text{
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../pictures/mammoth-1257288_1920.webp");
        background-size: cover;
        width: 100% ;
        height: auto ;
        padding: 25px;
    }
    .exhibition-text p, .exhibition-text h2{
        color: var(--White);
    }

    .target-container{
        flex-direction: column ;
        max-width: 480px ;
    }

    .target-img{
        width: 100% ;
        height: auto ;
        overflow: hidden;
        margin-top: -100px;
    }

    .target-img-container{
        width: 100%;
        height: 280px;
        overflow: hidden;
    }

    .target-text{
        width: 100% ;
        height: auto;
    }
}