
@import url(css/default.css);
@import url(css/header.css);
@import url(css/footer.css);
@import url(css/buttons.css);

.container{
    display: flex;
    justify-content: center;
    max-width: 1730px;
    margin-bottom: 95px;
}

.big-button-container{
    padding-top: 43px;
    padding-bottom: 89px;
    gap: 93px;
}

.explore-together-container {
    flex-direction: column;
}

.event{
    width: 417px;
    height: 503px;
    cursor: pointer;
    padding: 0 25px;
}

.opening-hours-outer-container, .exhibition-container{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: auto;
    width: auto;
    max-width: 1730px;
    flex-wrap: wrap;

}
.museum-img{
    width: auto;
    max-width: 864px;
    height: auto;
    max-height: 750px;
    
}

.opening-hours-container, .exhibition-text{
    width: 864px;
    height: auto;
    max-height: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--White);
    justify-content: center;
}

.opening-hours{
    display: flex;
}

.time{
font-size: 30px;
}

.donate-container{
    align-items: center;
    width: 761px;
    height: 323px;
}

.admission-container{
    text-align: center;
    width: 854px;
    height: 484px;
}

.aboutus-container{
    width: 100%;
    height: auto;
    text-align: center;
    padding: 30px 0 ;
}

.aboutus-container, .admission-container, .donate-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--White);
    justify-content: center;
}